<!DOCTYPE html>
<!--
TODO: Short and long break flow. Let's have just one button ( start pomodoro, changes to abort, changes to start short pause ... maybe a skip button to let people skip pauses )
TODO: The pomodoro table should show different status pomodoros with different colors or something. Maybe create a directive for that
TODO: Export / import data
TODO: HTML5 local storage
TODO: Play sound when pomodoro finishes.
TODO: Desktop notifications
-->
<html lang="en" ng-app="tomatoGears">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A single HTML file pomodoro timer">
        <meta name="author" content="Pedro Howat <https://github.com/phowat/tomato-gears>">
        <title>Tomato Gears</title>

        <!-- Bootstrap core CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                text-align: center;
                padding-top: 10px;
            }
        </style>
    </head>

    <body>
        <div class="container" ng-controller="PomodoroTimerCtrl">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                    <div class="well well-sm">
                        <form class="simple-form form-inline">
                            <h3>Activity</h3>
                            <input type="text" class="form-control" ng-model="pomodoro.description" id="activityDesc" placeholder="Ex: Finishing the layout of feature X." required >
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 jumbotron">
                    <h1> {{ stopwatch.data.value | secToTime }} </h1>
                    <p class="lead">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" ng-click="startAbort()">{{ pomodoro.startTS < 1 ? 'Start' : 'Abort' }}</button>
                            <button type="button" class="btn btn-default">Long Break</button>
                            <button type="button" class="btn btn-default">Short Break</button>
                        </div>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>Description</th>
                            <th>Pomodoros</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="p in pomodoro.pomodoros">
                        <tr>
                            <td> {{ p.startTS | date:'HH:mm:ss' }} </td>
                            <td> {{ p.description }} </td>
                            <td> {{ p.status }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            </div>
        </div><!-- /.container -->
    </body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var tomatoGears = angular.module('tomatoGears', []);

        tomatoGears.factory('PomodoroData', function () {
            return {
                startTS: 0,
                description: '',
                pomodoroDuration: 1500,
                shortBreakDuration: 300,
                longBreakDuration: 1200,
                pomodoros: []
            };
        });

        tomatoGears.factory('Timer', function($timeout, PomodoroData) {

            var data = {
                        value: 0,
                        laps: []
                    },
                    stopwatch = null;

            var stop = function () {
                $timeout.cancel(stopwatch);
                PomodoroData.startTS = 0;
                data.value = 0;
                stopwatch = null;
            };

            var abort = function () {
                PomodoroData.pomodoros[PomodoroData.pomodoros.length-1].status = "ABORTED";
                stop();
            };

            var start = function () {

                stopwatch = $timeout(function() {
                    data.value = Math.round(new Date().getTime() / 1000) - PomodoroData.startTS;
                    if (data.value > PomodoroData.pomodoroDuration) {
                        PomodoroData.pomodoros[PomodoroData.pomodoros.length-1].status = "FINISHED";
                        stop();
                    } else {
                        start();
                    }
                }, 100);
            };

            var reset = function () {
                stop();
                data.value = 0;
                data.laps = [];
            };

            var lap = function () {
                data.laps.push(data.value);
            };

            return {
                data: data,
                start: start,
                stop: stop,
                reset: reset,
                lap: lap,
                abort: abort
            };
        });

        tomatoGears.filter('secToTime', function() {
            return function (secs) {
                return new Date(null, null, null, null, null, secs).
                    toTimeString().match(/\d{2}:\d{2}:\d{2}/)[0].substring(3);
            }
        });

        tomatoGears.controller('PomodoroTimerCtrl', function ($scope, PomodoroData, Timer) {
            $scope.pomodoro = PomodoroData;
            $scope.stopwatch = Timer;
            $scope.startAbort = function () {
                if ($scope.pomodoro.startTS > 0) {
                    $scope.stopwatch.abort();
                } else {
                    var startDate = new Date();
                    $scope.pomodoro.startTS = Math.round(startDate.getTime() / 1000);
                    $scope.pomodoro.pomodoros.push({
                        startTS: startDate,
                        description: $scope.pomodoro.description,
                        status: "IN_PROGRESS"
                    });
                    $scope.stopwatch.start();
                }
            };
        });
    </script>
</html>