<!DOCTYPE html>
<!--
TODO: The pomodoro table should show different status pomodoros with different colors or something. Maybe create a directive for that
TODO: Export / import data
TODO: HTML5 local storage
TODO: Add notes about what was done on a pomodoro
-->
<html lang="en" ng-app="tomatoGears">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A single HTML file pomodoro timer">
        <meta name="author" content="Pedro Howat <https://github.com/phowat/tomato-gears>">
        <title>Tomato Gears</title>

        <!-- Bootstrap core CSS -->
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
        <style type="text/css">
            body {
                text-align: center;
                padding-top: 10px;
            }
        </style>
    </head>

    <body>
    <audio id="alert-audio" src="ringtone.wav" preload="auto"></audio>

    <div class="container" ng-controller="PomodoroTimerCtrl">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
                <div class="col-lg-6 col-md-6 col-sm-10 col-xs-10">
                    <div class="well well-sm">
                        <form class="simple-form form-inline">
                            <h3>Activity</h3>
                            <input type="text" class="form-control" ng-model="pomodoro.description" id="activityDesc" placeholder="Ex: Finishing the layout of feature X." required >
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-1 col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
                <div class="col-lg-4 col-md-4 col-sm-10 col-xs-10 jumbotron">
                    <h1> {{ stopwatch.data.value | secToTime }} </h1>
                    <p class="lead">
                        <button type="button" class="btn btn-default" ng-click="startAbort()">
                            {{ pomodoro.label }}
                        </button>
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-1 col-xs-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Start Time</th>
                            <th>Description</th>
                            <th>Pomodoros</th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="p in pomodoro.pomodoros">
                        <tr>
                            <td> {{ p.startTS | date:'HH:mm:ss' }} </td>
                            <td> <input type="text" value="{{ p.description }}"> </td>
                            <td> {{ p.status }} </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
            </div>
        </div><!-- /.container -->
    </body>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var tomatoGears = angular.module('tomatoGears', []);

        tomatoGears.factory('PomodoroData', function () {
            return {
                action: '',
                label: 'Start Pomodoro',
                startTS: 0,
                description: '',
                pomodoroDuration: 5, //1500,
                shortBreakDuration: 3,//300,
                longBreakDuration: 4, //1200,
                pomodoros: [],
                pcount: 0
            };
        });

        tomatoGears.factory('Timer', function($timeout, PomodoroData) {

            var data = {
                        value: 0
                    },
                    stopwatch = null;

            var stop = function () {
                $timeout.cancel(stopwatch);
                PomodoroData.startTS = 0;
                data.value = 0;
                angular.element("#alert-audio")[0].play();
                stopwatch = null;

            };

            var abort = function () {
                if (PomodoroData.action === 'POMODORO') {
                    PomodoroData.pomodoros[PomodoroData.pomodoros.length-1].status = "ABORTED";
                }
                PomodoroData.label = 'Start Pomodoro';
                stop();
            };

            var decideDuration = function() {
                if (PomodoroData.action === 'POMODORO') {
                    return PomodoroData.pomodoroDuration;
                } else if (PomodoroData.action === 'SHORT_BREAK') {
                    return PomodoroData.shortBreakDuration;
                } else { //LONG_BREAK
                    return PomodoroData.longBreakDuration;
                }
            };

            var finish = function () {
                if (PomodoroData.action === 'POMODORO') {
                    PomodoroData.pomodoros[PomodoroData.pomodoros.length-1].status = "FINISHED";
                    PomodoroData.pcount++;
                    if (PomodoroData.pcount % 4 === 0) {
                        PomodoroData.label = 'Long break';
                    } else {
                        PomodoroData.label = 'Short Break';
                    }
                    new Notification("Pomodoro Finished", {
                        body: "Nice job! Now go get some well earned rest."
                    });
                } else {
                    PomodoroData.label = 'Start Pomodoro';
                    new Notification("Break Finished", {
                        body: "Break finished, back to work you slacker!"
                    });
                }
                stop();
            };
            var timerLoop = function () {
                stopwatch = $timeout(function() {
                    var duration = decideDuration();
                    data.value = Math.round(new Date().getTime() / 1000) - PomodoroData.startTS;

                    if (data.value > duration) {
                        finish();
                    } else {
                        timerLoop();
                    }
                }, 100);
            };

            return {
                data: data,
                timerLoop: timerLoop,
                stop: stop,
                abort: abort
            };
        });

        tomatoGears.filter('secToTime', function() {
            return function (secs) {
                return new Date(null, null, null, null, null, secs).
                    toTimeString().match(/\d{2}:\d{2}:\d{2}/)[0].substring(3);
            }
        });

        tomatoGears.controller('PomodoroTimerCtrl', function ($scope, PomodoroData, Timer) {
            $scope.pomodoro = PomodoroData;
            $scope.stopwatch = Timer;
            $scope.startAbort = function () {

                // Request permission for future notifications
                var Notification = window.Notification || window.mozNotification || window.webkitNotification;
                Notification.requestPermission(function (permission) {});

                if ($scope.pomodoro.startTS > 0) {
                    $scope.stopwatch.abort();
                } else {
                    var startDate = new Date();
                    $scope.pomodoro.startTS = Math.round(startDate.getTime() / 1000);
                    $scope.pomodoro.label = 'Abort';

                    var lastStatus = 'xx';
                    var plen = $scope.pomodoro.pomodoros.length;
                    if (plen > 0) {
                        lastStatus = $scope.pomodoro.pomodoros[plen-1].status;
                    }

                    if (($scope.pomodoro.action === 'POMODORO') && (lastStatus !== 'ABORTED')) {
                        // Start a short break
                        if (($scope.pomodoro.pcount > 0) && ($scope.pomodoro.pcount % 4 === 0)) {
                            $scope.pomodoro.action = 'LONG_BREAK';
                        } else {
                            $scope.pomodoro.action = 'SHORT_BREAK';
                        }
                    } else {
                        $scope.pomodoro.action = 'POMODORO';
                        $scope.pomodoro.pomodoros.push({
                            startTS: startDate,
                            description: $scope.pomodoro.description,
                            status: "IN_PROGRESS"
                        });
                    }
                    $scope.stopwatch.timerLoop();
                }
            };
        });
    </script>
</html>